*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

.hello{
    color: red;
}

.hello2{
    width:100px;
    height: 100px;
    background-color: black;
}